/* This is our all container, unless otherwise stated everything will do what this says */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* This is our webpage, we only changed the color of the background */
body {
    background-color: #d9dcd6;
}
/* This is our header (the top blue rectangle) */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* This is the Horiseon message in the top left */
header h1 {
    display: inline-block;
    font-size: 48px;
}
/* This is how we changed the middle of Horiseon's text color1 */
header h1 .seo {
    color: #d9dcd6;
}
/* These are the parameters for our h2 */
h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* These are the parameters for our h3 */
h3 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 28px;
}
/* These are the parameters for our h4 */
h4 {
    font-size: 20px;
}
/* This is the changes all classes in the header only */
header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* This changes all classes in the list elements of the header */
header div ul li {
    display: inline-block;
    margin-left: 25px;
}
/* This affects anything in an a tag e.g. (a href="example") */
a {
    color: #ffffff;
    text-decoration: none;
}
/* This is our paragraph tag. We just made the font size uniform */
p {
    font-size: 16px;
}
/* This is our big image at the top of the screen. We made sure it's big but doesn't cut off on the edges on the screen. */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* This is our section. It's the 3 big rectangles in the middle of the page. */
section {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* This affects only the images in the section. We made them all uniform. */
section img {
    max-height: 200px;
}
/* This affects only the div classes in this section. */
section div { 
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* This class makes sure our images in the section flow correctly */
.float-left {
    float: left;
    margin-right: 25px;
}
/* This class makes sure our images in the section flow correctly */
.float-right {
    float: right;
    margin-left: 25px;
}
/* This is our aside. It's the blue rectangle on the right side of the page. */
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* This only affects the images in our aside. */
aside img{
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* This only affects the div classes in our aside. */
aside div {
    margin-bottom: 32px;
    color: #ffffff;
}
/* This is our footer. It's the bottom text at the page. */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
